* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  margin: 1rem;
  padding: 1rem;
  font-family: sans-serif;
  color: #fff;

  h1 {
    a {
      margin: 1rem 0;
      color: rgb(240, 240, 64);
      text-decoration: none;
    }
  }

  .paragraphWelcome {
    margin: 1rem 0;
  }

  p {
    a {
      color: rgb(84, 171, 97);
    }
  }

  nav {
    background-color: #222;
    padding: 0.5rem;
    margin: 1rem 0;
    a {
      color: #aaa;
      text-decoration: none;
      margin-right: 1rem;
    }

    a.active {
      color: rgb(211, 211, 110);
    }
  }

  .pageStart {
    img {
      margin-top: 1rem;
      width: 500px;
    }
  }

  .page404 {
    code {
      background-color: #514343;
      color: rgb(80, 18, 18);
    }
  }

  .pageSpain {
    h3 {
      margin-top: 0.5rem;
    }
  }
}
