* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  margin: 1rem;
  padding: 1rem;
  font-family: sans-serif;
  color: #fff;

  h1 {
    color: yellow;
    margin: 1rem 0;
  }

  nav {
    background-color: #222;
    padding: 0.5rem;
    margin: 1rem 0;
    a {
      color: #aaa;
      text-decoration: none;
      margin-right: 1rem;
    }

    a.active {
      color: rgb(211, 211, 110);
    }
  }
}
